{{!< default}}

{{#foreach posts}}
<div class="article {{post_class}}">
  <h2><a href="{{url}}">{{title}}</a></h2>
  <span class="date">Published on {{date format="YY/MM/DD"}}</span><span class="tag">{{tags prefix="Tags: "}}</span>
  <p class="summary">{{excerpt characters="100"}}[...]</p>
</div>
{{/foreach}}

{{pagination}}