{{!< default}}

{{#post}}
<div class="article single-article {{post_class}}">
  <h1>{{title}}</h1>
  <span class="date">发表于：{{date format="YY/MM/DD"}}</span><span class="tag">{{tags prefix="标签："}}</span>
  <div class="detail">{{content}}</div>
</div>
{{/post}}

<script type="text/javascript">
{{> toc}}
</script>

<div class="comment">
<div id="disqus_thread"></div>
<script type="text/javascript">
{{> comment}}
</script>
</div>
</div>