{{!< default}}

{{#post}}
<div class="article single-article {{post_class}}">
  <h1>{{title}}</h1>
  <span class="date">Published on: {{date format="YY/MM/DD"}}</span><span class="tag">{{tags prefix="Tags: "}}</span>
  <div class="detail">{{content}}</div>
</div>
{{/post}}

<script type="text/javascript">
{{> toc}}
</script>

<div class="comment">
{{> comment}}
</div>
